networks:
  app-tier:
    driver: bridge

services:
  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=development
    ports:
      - '5432:5432'